.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 8px;
}

.configuration {
  border: 1px solid #ccc;
  display: flex;
  gap: 16px;
  padding: 16px;
  justify-content: space-between;
  align-items: center;

  input {
    width: 50%;
    border-color: transparent;
  }
}

.widgets {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.widget {
  width: 100%;
  height: 56px;
  border: 1px dashed #ccc;
  display: flex;
  align-items: center;
  padding: 8px;
  background-color: white;
}
